.main-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: url(../../images/brush-pattern.jpg) center 40px repeat transparent;
  background-size: 750px 750px;
}

.main-home-title {
  margin: 70px auto 0;
  text-align: center;
  font-size: 0;
  width: 260px;
  height: 66px;
  background: url(../../images/logo-white.png) 0 0 no-repeat transparent;
  background-size: 260px 66px;
}

.main-home-copy {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  strong {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1em;
  }
}

.main-home-bottom {
  position: absolute;
  bottom: 90px;
  left: 20px;
  right: 20px;
  text-align: center;
  .btn-inverse {
    display: inline-block;
    font-size: 1.2rem;
    i {
      display: inline-block;
      margin-right: 10px;
    }
  }
  @media(min-width: 768px) {
    bottom: 20px;
  }
}
