.main-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: white;
  // background: url(../../images/brush-pattern.jpg) center 40px repeat transparent;
  background-size: 750px 750px;
}

.main-home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.main-home-title {
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  width: 260px;
  height: 66px;
  background: url(../../images/logo-bluegrey.png) 0 0 no-repeat transparent;
  background-size: 260px 66px;

  @media(min-width: @tablet-width) {
    width: 520px;
    height: 134px;
    background-size: 520px 134px;
  }
}

.main-home-copy {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  margin: @gutter 0 @gutter * 2;
  strong {
    font-weight: 500;
    line-height: 1em;
  }
}
