.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

@keyframes fadein {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.modal-close-scrim {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);

  @media(min-width: @tablet-width) {
    animation: fadein .25s;
    z-index: 5;
  }
}

@keyframes modal-card {
  0% {
    opacity: 0;
    transform: scale(0.95);
  } 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-card-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .card {
    display: block;
    position: relative;
    text-align: left;
    z-index: 30;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);

    @media(min-width: @tablet-width) {
      width: 550px;
      margin: @gutter auto;
      animation: modal-card .25s;
    }
  }
}
