@font-family: 'Helvetica Neue', helvetica, arial, sans-serif;

html, body {
  margin: 0;
  padding: 0;
  font-family: @font-family;
  font-size: 1rem;
  font-weight: 300;
  color: @bluegrey-400;
  box-sizing: border-box;
  background: #f7fcfc;
  height: 100%;
}

div, nav, header, footer, span, button, ul, li, p, a, section {
  box-sizing: border-box;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  font-weight: 300;
}

p, a, button, label {
  letter-spacing: .5px;
}

b, strong {
  color: @body-color;
  font-weight: 400;
}

h3, h4, h5 {
  letter-spacing: .5px;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
}

h4, h5 {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

a, button {
  font-family: @font-family;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
}

input, textarea, select {
  font-family: @font-family;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.material-icons {
  vertical-align: middle;
}

.page-body {
  position: relative;
  padding: @gutter;

  p {
    padding: 0;
  }
}
.page-header {
  padding: @half-gutter @gutter;

  +.page-body {
    padding-top: 0;
  }
}

.main {
  position: relative;
  padding: @half-gutter @gutter @gutter * 3;
}

.container {
  max-width: @netbook-width;
  margin: 0 auto;
}
