.clearfix {
  overflow: auto;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.font-small {
  font-size: 0.8rem;
  font-weight: 400;
}

.muted-text {
  color: @bluegrey-200;
}

.danger-text {
  color: @danger-color;
  a {
    color: @danger-color;
    text-decoration: underline;
    font-weight: 400;

    &:hover,
    &:focus {
      color: @danger-color-hover;
    }
    &:active {
      color: @danger-color-active;
    }
  }
}

.success-text {
  color: @success-color
}

.half-gutter-top {
  margin-top: @half-gutter;
}

.gutter-top {
  margin-top: @gutter !important;
}

.gutter-large-top {
  margin-top: @gutter * 2 !important;
}

.capitalize {
  text-transform: capitalize;
}

.vanity-font {
  font-family: 'Galada', cursive;
}

.text-center {
  text-align: center;
}
