.pending-invite-list {
  margin-top: @gutter;

  >li {
    padding: @gutter 0;
    position: relative;
  }
}

.pending-invite-list-ui-list {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  margin: -1rem 0 0;
  >li {
    list-style: none;
  }
}

.team-member-list-title {
  text-align: center;
  color: @bluegrey-600;
  font-size: 2rem;

  @media(min-width: @tablet-width) {
    margin-top: @gutter * 3;
    font-size: 2.5rem;
  }
}

.team-member-list {
  padding: 0;
  margin: @gutter 0 0;

  @media(min-width: @tablet-width) {
    margin-top: @gutter;
  }

  >li {
    position: relative;
    list-style: none;
    border-top: 1px dotted @bluegrey-100;

    &:first-child {
      border-top: none;
    }

    >a {
      display: block;
      padding: @gutter 0;
      color: @body-color;

      &:hover,
      &:focus {
        color: @body-color-hover;
      }
      &:active {
        color: @body-color-active;
      }

      @media(min-width: @tablet-width) {
        font-size: 1.3em;
      }
    }
  }
}

@team-member-ui-image-size: 40px;
@team-member-ui-image-size-tablet: 50px;

.team-member-ui-image {
  position: absolute;
  top: @gutter;
  left: 0;
  width: @team-member-ui-image-size;
  height: @team-member-ui-image-size;
  border-radius: @team-member-ui-image-size;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media(min-width: @tablet-width) {
    width: @team-member-ui-image-size-tablet;
    height: @team-member-ui-image-size-tablet;
    border-radius: @team-member-ui-image-size-tablet;
  }
}

.team-member-ui-content {
  margin-left: @team-member-ui-image-size + @gutter;

  @media(min-width: @tablet-width) {
    margin-left: @team-member-ui-image-size-tablet + @gutter;
  }
}

.team-member-ui-content-name {
  color: @bluegrey-600;

  a:hover &,
  a:focus & {
    color: darken(@bluegrey-600, 10%);
  }
  a:active & {
    color: darken(@bluegrey-600, 15%);
  }
}

.team-member-ui-wrapper {
  padding: @gutter 0;
  .team-member-ui-image {
    left: @gutter;
  }
}

.team-member-detail-qa-list {
  margin: 0;
  padding: 0;
  >li {
    list-style: none;
    +li {
      margin-top: 0;
    }
  }
}

.team-member-detail-qa-list-item-input-group {
  display: block;
  position: relative;
  padding-left: 55px;
  padding-top: @gutter;

  >.team-member-detail-qa-list-item-input-wrap {
    position: relative;
    min-height: 40px;
    border: 1px solid @bluegrey-100;
    border-radius: 2px;

    .form-control {
      border: 0;
      padding: @half-gutter @gutter;

      &:hover,
      &:focus {
        color: darken(@bluegrey-400, 10%);
      }
      &:active {
        color: darken(@bluegrey-400, 15%);
      }
    }

    &::before {
      content: ' ';
      position: absolute;
      left: -6px;
      top: 10px;
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
      border-left: 1px solid @bluegrey-100;
      border-bottom: 1px solid @bluegrey-100;
      background: white;
    }
  }
  >.team-member-detail-qa-list-item {
    position: relative;
    padding: @half-gutter @gutter;
    margin: 0;
    min-height: 40px;
    border: 1px solid @bluegrey-100;
    border-radius: 2px;
    font-weight: 400;

    li {
      margin-top: @quarter-gutter;

      &:first-child {
        margin-top: 0;
      }
    }

    &::before {
      content: ' ';
      position: absolute;
      left: -6px;
      top: 10px;
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
      border-left: 1px solid @bluegrey-100;
      border-bottom: 1px solid @bluegrey-100;
      background: white;
    }

    &.team-member-detail-qa-list-item-no-comment {
      color: lighten(@bluegrey-400, 15%);
    }
  }
}

.team-markdown {
  font-weight: 400;

  >*:first-child {
    margin-top: 0;
  }
  >*:last-child {
    margin-bottom: 0;
  }

  ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: @half-gutter 0;
    line-height: 1.3em;
  }

  hr {
    margin: @gutter 0;
    border-top: 1px solid @bluegrey-100;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: @bluegrey-700;
    font-size: 16px;
    font-weight: 500;
  }

  code {
    padding: 2px 3px;
  }

  pre {
    padding: @quarter-gutter;
  }

  pre,
  code {
    border-radius: 2px;
    background: @black-squeeze;
    border: 1px solid darken(@black-squeeze, 10%);

    code {
      padding: 0;
      border-radius: 0;
      background: transparent;
      border: 0;
    }
  }

  ul {
    padding-left: @gutter;
    >li {
      list-style: disc;
      li {
        list-style: circle;
      }
    }
  }
  ol {
    padding-left: @gutter;
    >li {
      list-style: decimal;
    }
  }
  strong {
    color: @bluegrey-700;
  }
}

.team-markdown-note {
  padding: @half-gutter;
  border: 1px solid @bluegrey-50;
  border-radius: 2px;
  cursor: pointer;
  min-height: 80px;

  &:hover,
  &:focus {
    border-color: @bluegrey-100;
  }
  &:active {
    border-color: @bluegrey-200;
  }
}

.team-member-detail-qa-list-item-icon {
  position: absolute;
  top: @gutter;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-header-title {
  font-size: 2rem;
  line-height: 2rem;
  color: @bluegrey-400;
  font-weight: 300;
  margin: 0;
  padding: 0;

  input {
    padding: 6px;
    margin: -6px;
    font-size: 2rem;
    color: @bluegrey-400;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: @border-radius;
    background: transparent;

    &:hover,
    &:focus {
      color: darken(@bluegrey-400, 10%);
      border-color: @bluegrey-50;
      background: transparent;
    }
    &:active {
      color: darken(@bluegrey-400, 15%);
    }
  }
}

.team-member-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-set-name-label {
  display: block;
  font-size: 1.6rem;
  color: @bluegrey-600;
  margin-top: @gutter;
  margin-bottom: @gutter;

  @media( min-width: @tablet-width ) {
    margin-top: @gutter * 2;
    font-size: 2.5rem;
  }
}

.team-set-name-input {
  max-width: 100%;

  >input {
    border-bottom: 2px solid @bluegrey-400;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: @bluegrey-400;
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    padding: 12px 0;
    text-align: center;
    min-width: 200px;
    max-width: 100%;
    text-overflow: ellipsis;

    &::input-placeholder {
      color: @cyan-a400;
    }
    &::-webkit-input-placeholder {
      color: @cyan-a400;
    }

    @media( min-width: @tablet-width ) {
      font-size: 2.5rem;
    }
  }
}

@keyframes team-set-name-submit {
  0% {
    opacity: 0;
    transform: translateY(20px);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.team-set-name-submit {
  margin-top: @gutter * 2;
  animation: team-set-name-submit .5s;
  color: @link-color;
  font-weight: 300;

  .main-team-set-questions & {
    animation: none;
  }

  &:hover,
  &:focus {
    color: @link-color-hover;
  }
  &:active {
    color: @link-color-active;
  }

  @media(min-width: @tablet-width) {
    margin-top: @gutter * 3;
  }
}

.main-team-set-name {
  text-align: center;
}

.main-team {

  // margin-top: @gutter * 2;
}

.main-team-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: center;
    @media(min-width: @tablet-width) {
      font-size: 1.3em;
    }
  }
}

.main-team-header {
  padding-bottom: @half-gutter;

  @media(min-width: @tablet-width) {
    border-bottom: 0;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;

    @media(min-width: @tablet-width) {
      font-size: 1.2rem;
    }
  }
  .dropdown-wrapper {
    float: right;
  }
}

.btn-main-team-more {
  padding: 0;
  border: 1px solid @bluegrey-100;
  color: @bluegrey-400;
  width: 30px;
  height: 30px;
  text-align: center;
  background: transparent;
  border-radius: 30px;
  vertical-align: middle;

  >i {
    line-height: 30px;
  }
}

.main-team-set-questions {
  margin-top: @gutter;
  margin-bottom: @gutter * 2;
  text-align: center;

  >.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form-control {
    background: transparent;
  }

  .dropdown-list {
    text-align: left;
  }

  h1 {
    color: @bluegrey-600;
    line-height: 1.3em;
  }

  p {
    font-size: 1.2em;
  }

  @media( min-width: @tablet-width ) {
    margin-top: @gutter * 3;
    margin-bottom: @gutter * 3;

    .form-control {
      font-size: 1.3em;
    }
    .input-group-addon {
      font-size: 1.3em;
    }
    .dropdown-list {
      a {
        font-size: 1.3em;
      }
    }

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.5em;
    }
  }
}

p.main-team-set-questions-footnote {
  font-size: 0.9rem;
  margin-bottom: @gutter * 2;

  @media(min-width: @tablet-width) {
    font-size: 1rem;
    margin-bottom: @gutter * 3;
  }
}

.btn-team-skip {
  margin-top: @gutter;
  color: lighten(@body-color, 10%);
  &:hover,
  &:focus {
    color: @body-color-hover;
  }
  &:active {
    color: @body-color-active;
  }
}

.team-member-ui-content-info {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: mix(@black-squeeze, @bluegrey-400, 20%);

  a:hover &,
  a:focus & {
    color: mix(@black-squeeze, @bluegrey-400, 10%);
  }
  a:active & {
    color: mix(@black-squeeze, @bluegrey-400, 5%);
  }
}

.btn-team-invite {
  margin-top: @gutter;

  @media(min-width: @tablet-width) {
    margin-top: @gutter * 2;
    font-size: 1.3em;
  }
}

.meeting-header {
  position: relative;
  padding: @gutter @half-gutter;
  margin: 0 -@half-gutter @gutter;
  color: @bluegrey-700;

  @media(min-width: @tablet-width) {
    padding: @gutter;
    margin: 0 -@gutter @gutter;
  }
}

.meeting-header-lg-icon-wrapper {
  position: absolute;
  display: inline-block;
  top: 18px;
  left: 5px;
  text-align: center;

  .team-card-subheader-create-meeting & {
    top: 23px;
  }

  @media(min-width: @tablet-width) {
    left: 17px;
  }
}

.meeting-header-lg-icon-sub {
  font-weight: 400;
  font-size: 10px;
}

.meeting-header-lg-icon {
  font-size: 50px;

  @media(min-width: @tablet-width) {
    left: 16px;
  }

  .team-card-subheader-create-meeting & {
    font-size: 35px;
  }
}

.meeting-header-lg-content {
  margin-left: 40px + @half-gutter;

  @media(min-width: @tablet-width) {
    margin-left: 40px + @gutter;
  }

  .team-card-subheader-create-meeting & {
    margin-left: 20px + @half-gutter;

    @media(min-width: @tablet-width) {
      margin-left: 20px + @gutter;
    }
  }
}

.meeting-header-title {

  .team-card-subheader-create-meeting & {
    padding: 2px 0;
  }

  >input {
    font-size: 32px;
    font-weight: 300;
    border: none;
    border-radius: 2px;
    color: @bluegrey-700;
    padding: 3px 6px;
    margin: -3px -6px 0;
    max-width: 100%;

    &::-webkit-input-placeholder {
      color: @bluegrey-400;
    }
    &::-moz-placeholder {
      color: @bluegrey-400;
    }
    &:-ms-input-placeholder {
      color: @bluegrey-400;
    }
    &:-moz-placeholder {
      color: @bluegrey-400;
    }
    &:hover {
      &::-webkit-input-placeholder {
        color: @bluegrey-600;
      }
      &::-moz-placeholder {
        color: @bluegrey-600;
      }
      &:-ms-input-placeholder {
        color: @bluegrey-600;
      }
      &:-moz-placeholder {
        color: @bluegrey-600;
      }
    }
    &:focus,
    &:active {
      &::-webkit-input-placeholder {
        color: @bluegrey-700;
      }
      &::-moz-placeholder {
        color: @bluegrey-700;
      }
      &:-ms-input-placeholder {
        color: @bluegrey-700;
      }
      &:-moz-placeholder {
        color: @bluegrey-700;
      }
    }
  }
}

.meeting-header-title-input-icon {
  color: @bluegrey-200;
  margin-left: @quarter-gutter;
  vertical-align: text-bottom;
}

.meeting-header-date {
  display: inline-block;
  padding-top: 4px;
  font-weight: 400;
}

.team-card-body-list {
  padding: 0;
  margin: 0 @half-gutter @gutter;
  >li {
    list-style: none;
    margin-top: @gutter * 2;

    &:first-child {
      margin-top: 0;
    }
  }

  @media(min-width: @tablet-width) {
    margin: 0 @gutter @gutter;
  }
}

.team-card-subheader {
  position: relative;
  padding: 0 @half-gutter @gutter * 2;

  @media(min-width: @tablet-width) {
    padding: 0 @gutter @gutter * 2;
  }
}

.team-meeting-header-dropdown-wrapper {
  &.dropdown-wrapper {
    position: absolute;
  }
  top: 50%;
  transform: translateY(-50%);
  right: @gutter;
}

.meeting-card {
  padding: @half-gutter;
  @media(min-width: @tablet-width) {
    padding: @gutter;
  }
}

.meeting-subhead {
  position: relative;
  color: @bluegrey-400;
  font-size: 1.5rem;
  text-align: center;
  margin: @gutter 0;
  z-index: 10;
}

.meeting-qa-foot {
  margin-top: @quarter-gutter !important;

  .btn-no-style {
    font-size: 14px;
    color: @bluegrey-100;

    i {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: @bluegrey-400;
      text-decoration: underline;
    }
    &:active {
      color: @bluegrey-500;
    }
  }
}

.team-member-detail-add-qa-btn {
  display: inline-block;
  margin: @gutter 0 0;
  color: @bluegrey-100;
  >i {
    color: @bluegrey-400;
  }

  &:hover,
  &:focus {
    color: darken(@bluegrey-100, 10%);
    >i {
      color: @link-color;
    }
  }
  &:active {
    color: darken(@bluegrey-100, 15%);
    >i {
      color: @link-color-active;
    }
  }
  &:disabled {
    color: @bluegrey-50;
    >i {
      color: @bluegrey-100;
    }
  }
}

.modal-container-team-meeting {
  .modal-card-container {
    .card {
      @media(min-width: @tablet-width) {
        width: @tablet-width - (@gutter * 2);
      }
    }
  }
}

.meeting-todo-form-control-add {
  &.form-control {
    border-color: transparent;

    &:focus {
      border-color: @bluegrey-100;
    }
  }
}

.team-member-todo-list {
  margin: 0;
  padding-left: 0;

  >li {
    margin-top: @half-gutter;
    list-style: none;

    &:first-child {
      .meeting-todo-form-control-add {
        &.form-control {
          border-color: @bluegrey-50;
        }
      }
    }
  }
}

.meeting-todo-form {
  position: relative;
  min-height: 22px;
}

.meeting-todo-form-text {
  margin-left: 35px;

  .meeting-todo-form-add & {
    margin-left: 0;
  }
}

.meeting-todo-form-checkbox {
  position: absolute;
  left: 0;
  top: 0;
}
