.pending-invite-list {
  li {
    position: relative;
  }
}

.pending-invite-list-ui-list {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  margin: -1rem 0 0;
  >li {
    list-style: none;
  }
}
