.pending-invite-list {
  margin-top: @gutter;

  li {
    position: relative;
  }
}

.pending-invite-list-ui-list {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  margin: -1rem 0 0;
  >li {
    list-style: none;
  }
}

.team-member-list {
  padding: 0;
  margin: 0;

  >li {
    position: relative;
    list-style: none;
    border-top: 1px dotted @bluegrey-100;

    &:first-child {
      border-top: none;
    }

    >a {
      display: block;
      padding: @gutter;
      color: @body-color;

      &:hover,
      &:focus {
        color: @body-color-hover;
      }
      &:active {
        color: @body-color-active;
      }
    }
  }
}

@team-member-ui-image-size: 40px;

.team-member-ui-image {
  position: absolute;
  top: @gutter;
  left: @half-gutter;
  width: @team-member-ui-image-size;
  height: @team-member-ui-image-size;
  border-radius: @team-member-ui-image-size;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media(min-width: @tablet-width) {
    left: @gutter;
  }
}

.team-member-ui-content {
  margin-left: @team-member-ui-image-size + @gutter;
}

.team-member-ui-wrapper {
  padding: @gutter 0;
  .team-member-ui-image {
    left: @gutter;
  }
}

.team-member-detail-qa-list {
  margin: 0;
  padding: 0;
  >li {
    list-style: none;
    +li {
      margin-top: @gutter;
    }
  }
}

.team-member-detail-qa-list-item-input-group {
  display: block;
  position: relative;
  padding-left: 35px;
  >p {
    padding: 12px 0;
  }
}

.team-member-detail-qa-list-item-icon {
  position: absolute;
  top: 12px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-header-title {
  font-size: 2rem;
  line-height: 2rem;
  color: @bluegrey-400;
  font-weight: 300;
  margin: 0;
  padding: 0;

  input {
    padding: 6px;
    margin: -6px;
    font-size: 2rem;
    color: @bluegrey-400;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: @border-radius;
    background: transparent;

    &:hover,
    &:focus {
      color: darken(@bluegrey-400, 10%);
      border-color: @bluegrey-50;
      background: transparent;
    }
    &:active {
      color: darken(@bluegrey-400, 15%);
    }
  }
}

.team-member-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-set-name-label {
  display: block;
  font-size: 1.6rem;
  color: @bluegrey-600;
  margin-top: @gutter;
  margin-bottom: @gutter;

  @media( min-width: @tablet-width ) {
    margin-top: @gutter * 2;
    font-size: 2.5rem;
  }
}

.team-set-name-input {
  max-width: 100%;
  
  >input {
    border-bottom: 2px solid @bluegrey-400;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: @bluegrey-400;
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    padding: 12px 0;
    text-align: center;
    min-width: 200px;
    max-width: 100%;
    text-overflow: ellipsis;

    &::input-placeholder {
      color: @cyan-a400;
    }
    &::-webkit-input-placeholder {
      color: @cyan-a400;
    }

    @media( min-width: @tablet-width ) {
      font-size: 2.5rem;
    }
  }
}

@keyframes team-set-name-submit {
  0% {
    opacity: 0;
    transform: translateY(20px);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.team-set-name-submit {
  margin-top: @gutter * 3;
  animation: team-set-name-submit .5s;
  color: @link-color;
  font-weight: 300;

  &:hover,
  &:focus {
    color: @link-color-hover;
  }
  &:active {
    color: @link-color-active;
  }
}

.main-team-set-name {
  text-align: center;
}

.main-team {
  .col {
    +.col {
      padding-top: @gutter;
    }

    @media(min-width: @tablet-width) {
      box-sizing: border-box;
      vertical-align: top;
      display: inline-block;
      width: 50%;
      padding-right: @half-gutter;

      +.col {
        padding: 0 0 0 @half-gutter;
      }
    }
  }
}
